#demo1{
	height: 300px;
	width: 400px;
	border: 2px solid green;
	padding: 20px;
	margin: 30px;
}
#demo2{
	width: 200px;
	height: 200px;
	border: 2px solid black;
	padding-top: 20px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 50px;
}