#top1{
	border: 3px solid black;
	width: 600px;
	height: 600px;
	padding: 20px;
	margin: 30px;
}
#top2{
	font-size: 20px;
}
#top3{
	border: 2px solid blue;
	width: 400px;
	height: 50px;
	padding: 20px;
	margin: 30px;
	line-height: 50px;
}
#top4{
	border: 2px solid blue;
	width: 400px;
	height: 50px;
	padding: 20px;
	margin: 30px;
	line-height: 50px;
}
#top5{
	border: 2px solid blue;
	width: 400px;
	height: 50px;
	padding: 20px;
	margin: 30px;
	line-height: 50px;
}
#top6{
	border: 2px solid blue;
	width: 400px;
	height: 50px;
	padding: 20px;
	margin: 30px;
	line-height: 50px;
}