h1 {
	text-align: center;
	color: green;
}
.form-tiendien {
	width: 60%;
	margin: 0 auto;
	border: 1px solid gray;
	height: 300px;
}
.input-control {
	width: 80%;
	margin: 15px auto;
	padding: 15px;
}
.text {
	width: 120px;
	float: left;
}
.input {
	width: 470px;
	float: left;
}
input {
	width: 280px;
}
.error {
	color: red;
}